button {
    --black: #000000;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--black);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.507) 1%, transparent 40%, transparent 60%, rgba(0, 0, 0, 0.507) 100%);
    color: var(--black);
    box-shadow: inset 0 0 10px #ffffff, 0 0 9px 3px #ffffff;
}

button:hover {
    color: #ffffff;
    box-shadow: inset 0 0 10px #ffffff, 0 0 9px 3px #ffffff;
}

button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, #ffffff81 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

button:hover:before {
    transform: translateX(15em);
}