#Studentform {
    background-image: url("../images/Resume-images/images.jpg");
    background-size: cover;
}

#Studentform h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.Studentform-card {
    border-radius: 40px;
    background-color: rgb(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}